@import "../../node_modules/bootstrap/scss/bootstrap";

.bg-gray {
  background-color: #{$table-striped-bg};
}

.bg-lightsteelblue {
  background-color: lightsteelblue;
}

.bg-navajowhite {
  background-color: navajowhite;
}
